<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.chajajo.mapper.CommentMapper">
	<resultMap id="CommentMap" type="CommentVO">
		<id property="no" column="no" />
		<result property="bno" column="bno" />
		<result property="content" column="c_content" />
		<result property="writer" column="c_writer" />
		<result property="regDate" column="c_reg_date" />
		<result property="updateDate" column="c_update_date" />

		<collection property="replyList"
			ofType="org.chajajo.domain.ReplyVO">
			<id property="no" column="r_no" />
			<result property="cno" column="cno"/>
			<result property="content" column="r_content" />
			<result property="writer" column="r_writer" />
			<result property="regDate" column="r_reg_date" />
			<result property="updateDate" column="r_update_date" />
		</collection>
	</resultMap>
	
	<select id="readAll" resultMap="CommentMap">
		select 	c.no, c.bno, c.content c_content, c.writer c_writer,
			c.reg_date c_reg_date, c.update_date c_update_date,
			r.no r_no, r.cno, r.content r_content, r.writer r_writer,
			r.reg_date r_reg_date, r.update_date r_update_date
		from qna_comment c left join qna_reply r
			on c.no = r.cno
		where bno = #{bno}
	</select>
	
	<select id="get" resultMap="CommentMap">
		select
			c.no, c.bno, c.content c_content, c.writer c_writer,
			c.reg_date c_reg_date, c.update_date c_update_date,
			r.no r_no, r.cno, r.content r_content, r.writer r_writer,
			r.reg_date r_reg_date, r.update_date r_update_date
		from qna_comment c left join qna_reply r
			on c.no = r.cno
		where c.no = #{no}
	</select>
	
	<insert id="create">
		insert into qna_comment (bno, writer, content)
		values(#{bno}, #{writer}, #{content})
		<selectKey resultType="Long" keyProperty="no" keyColumn="no"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<update id="update">
		update qna_comment
		set
		content = #{content},
		update_date = now()
		where no = #{no}
	</update>
		
	<delete id="delete">
		delete from qna_comment
		where no = #{no}
	</delete>

</mapper>