<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.chajajo.mapper.MemberMapper">


	<insert id="signUp">
		insert into user_info(USER_ID, PASSWORD, EMAIL,
		PHONE, BIRTH, GENDER)
		values(#{userId}, #{password}, #{email},
		#{phone}, #{birth},#{gender} )
	</insert>

	<!-- 아이디 중복검사 -->
	<select id="idCheck" resultType="int">

		select count(*) from user_info
		where USER_ID = #{userId}

	</select>

	<!-- 로그인 -->
	<select id="memberLogin"
		resultType="org.chajajo.domain.MemberVO">

		select *
		from user_info
		where USER_ID = #{userId} and
		PASSWORD = #{password}

	</select>

	<!-- 정보보기 -->
	<select id="userinfo" resultType="org.chajajo.domain.MemberVO">
		select *
		from user_info
		where
		USER_ID = #{userId}
	</select>

	<select id="userinfoWithIDPW"
		resultType="org.chajajo.domain.MemberVO">
		select *
		from user_info
		where USER_ID=#{userId} and
		PASSWORD=#{password}
	</select>

	<!-- 회원정보변경 -->
	<update id="infomodify">
		update user_info 
		set EMAIL=#{email}, PHONE=#{phone}
		where
		USER_ID=#{userId} and PASSWORD=#{password}
	</update>
	<!-- 회원 탈퇴 -->
	<delete id="userout">
		delete from user_info where USER_ID=#{userId} and
		PASSWORD=#{password}
	</delete>



</mapper>


  