<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.chajajo.mapper.OpenApiMapper">

	<insert id="insertList" parameterType="ServiceListDTO">
		INSERT service_list (SERVICE_ID, SERVICE_NAME, SERVICE_SUMMARY, APPLY_METHOD, APPLY_DATE, AGENCY_CODE, DEPT_NAME, VIEWS, AGENCY_TYPE, USER_CRITERA, SERVICE_FIELD, PHONE) 
		VALUES (#{serviceId}, #{serviceName}, #{serviceSummary}, #{applyMethod}, #{applyDate}, #{agencyCode}, #{deptName}, #{views}, #{agencyType}, #{userCriteria}, #{serviceField}, #{phone})	
	</insert>
	
	
	<insert id="insertDetail" parameterType="ServiceDetailDTO">
		INSERT service_detail (SERVICE_ID, SUPPORT_TYPE, SERVICE_NAME, SERVICE_PURPOSE, APPLY_DATE, SUPPORT_TARGET, SELECTION_CRITERIA, APP_CONTENTS, APPLY_METHOD, DOCUMENT, RECEPTION, CONTACT, APP_URL, MODIFY_DATE, AGENCY_NAME, STATUTE) 
		VALUES (#{serviceId}, #{supportType}, #{serviceName}, #{servicePurpose}, #{applyDate}, #{supportTarget}, #{selectionCriteria}, #{appContents}, #{applyMethod}, #{document}, #{reception}, #{contact}, #{appUrl}, #{modifyDate}, #{agencyName}, #{statute})	
	</insert>
	
	
	
	<insert id="insertConditions" parameterType="SupportConditionsDTO">
		INSERT support_conditions (SERVICE_ID, MALE, FEMALE, AGE_START, AGE_END, INCOME_0_50, INCOME_51_75, INCOME_76_100, INCOME_101_200, INCOME_OVER_200, NO_BABY, PREGNANT, BIRTH_ADOPT, FARM_WORKER, FISH_WORKER, LIVESTOCK_WORKER, FOREST_WORKER, ELEMENTARY, MI_STDNT, HI_STDNT, GR_STDNT, NOT_APLCB, WORKER, NON_WORKER, MLTCL_FMLY, NORTH_DFT, SP_GC_FMLY, SNG_FMLY, NONE_APPLY, MLT_CHLD, HOMELESS, NEW_TRNSF, EX_FMLY, SOON_BSNS, IN_BSNS, NON_BSNS, FOOD_BSNS, MNF_BSNS, ETC_BSNS, SMALL_COP, SOCIAL_COP, FACILITY, MNF_COP, FFF_COP, ICT_COP, ETC_COP, DISABLED_PERSON, NATIONAL_VETERANS, SICK_PERSON, SERVICE_NAME) 
		VALUES (#{serviceId}, #{male}, #{female}, #{ageStart}, #{ageEnd}, #{income_0_50}, #{income_51_75}, #{income_76_100}, #{income_101_200}, #{incomeOver_200}, #{noBaby}, #{pregnant}, #{birthAdopt}, #{farmWorker}, #{fishWorker}, #{livestockWorker}, #{forestWorker}, #{elementary}, #{miStdnt}, #{hiStdnt}, #{grStdnt}, #{notAplcb}, #{worker}, #{nonWorker}, #{mltclFmly}, #{northDft}, #{spGcFmly}, #{sngFmly}, #{noneApply}, #{mltChld}, #{homeless}, #{newTrnsf}, #{exFmly}, #{soonBsns}, #{inBsns}, #{nonBsns}, #{foodBsns}, #{mnfBsns}, #{etcBsns}, #{smallCop}, #{socialCop}, #{facility}, #{mnfCop}, #{fffCop}, #{ictCop}, #{etcCop}, #{disabledPerson}, #{nationslVeterans}, #{sickPerson}, #{serviceName})	
	</insert>


	<update id="updateList" parameterType="ServiceListDTO">
		UPDATE service_list 
		SET SERVICE_NAME=#{serviceName}, SERVICE_SUMMARY=#{serviceSummary}, APPLY_METHOD=#{applyMethod}, 
			APPLY_DATE=#{applyDate}, AGENCY_CODE=#{agencyCode}, DEPT_NAME=#{deptName}, 
			VIEWS=#{views}, AGENCY_TYPE=#{agencyType}, USER_CRITERA=#{userCriteria}, 
			SERVICE_FIELD=#{serviceField}, PHONE=#{phone}
		WHERE SERVICE_NAME = #{serviceId}
	</update>
	
	<update id="updateDetail" parameterType="ServiceDetailDTO">
		UPDATE service_detail 
		SET SUPPORT_TYPE=#{supportType}, SERVICE_NAME=#{serviceName}, SERVICE_PURPOSE=#{servicePurpose},
			APPLY_DATE=#{applyDate}, SUPPORT_TARGET=#{supportTarget}, SELECTION_CRITERIA=#{selectionCriteria},
			APP_CONTENTS=#{appContents}, APPLY_METHOD=#{applyMethod}, DOCUMENT=#{document},
			RECEPTION=#{reception}, CONTACT=#{contact}, APP_URL=#{appUrl},
			MODIFY_DATE=#{modifyDate}, AGENCY_NAME=#{agencyName}, STATUTE=#{statute}
		WHERE SERVICE_NAME = #{serviceId}
	</update>
	
	<update id="updateConditions" parameterType="SupportConditionsDTO">
		UPDATE support_conditions 
		SET MALE=#{male}, FEMALE=#{female}, AGE_START=#{ageStart}, AGE_END=#{ageEnd}, 
			INCOME_0_50=#{income_0_50}, INCOME_51_75=#{income_51_75}, INCOME_76_100=#{income_76_100}, 
			INCOME_101_200=#{income_101_200}, INCOME_OVER_200=#{incomeOver_200}, NO_BABY=#{noBaby}, 
			PREGNANT=#{pregnant}, BIRTH_ADOPT=#{birthAdopt}, FARM_WORKER=#{farmWorker}, FISH_WORKER=#{fishWorker}, 
			LIVESTOCK_WORKER=#{livestockWorker}, FOREST_WORKER=#{forestWorker}, ELEMENTARY=#{elementary}, MI_STDNT=#{miStdnt},
			HI_STDNT=#{hiStdnt}, GR_STDNT=#{grStdnt}, NOT_APLCB=#{notAplcb}, WORKER=#{worker}, NON_WORKER=#{nonWorker},
			MLTCL_FMLY=#{mltclFmly}, NORTH_DFT=#{northDft}, SP_GC_FMLY=#{spGcFmly}, SNG_FMLY=#{sngFmly}, NONE_APPLY=#{noneApply},
			MLT_CHLD=#{mltChld}, HOMELESS=#{homeless}, NEW_TRNSF=#{newTrnsf}, EX_FMLY=#{exFmly}, SOON_BSNS=#{soonBsns},
			IN_BSNS=#{inBsns}, NON_BSNS=#{nonBsns}, FOOD_BSNS=#{foodBsns}, MNF_BSNS=#{mnfBsns}, ETC_BSNS=#{etcBsns},
			SMALL_COP=#{smallCop}, SOCIAL_COP=#{socialCop}, FACILITY=#{facility}, MNF_COP=#{mnfCop}, FFF_COP=#{fffCop},
			ICT_COP=#{ictCop}, ETC_COP=#{etcCop}, DISABLED_PERSON=#{disabledPerson}, NATIONAL_VETERANS=#{nationslVeterans},
			SICK_PERSON=#{sickPerson}, SERVICE_NAME=#{serviceName}
		WHERE SERVICE_NAME = #{serviceId}
	</update>
	
	<delete id="truncateList">
		DELETE FROM service_list
	</delete>
	
	<delete id="truncateDetail">
		TRUNCATE TABLE service_detail
	</delete>
	
	<delete id="truncateConditions">
		TRUNCATE TABLE support_conditions
	</delete>
</mapper>