<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.chajajo.mapper.RecommendationMapper">

	<select id="getUserCondtions" resultType="UserConditionsVO">
		select * from
		user_condition
		where user_id = #{userId}
	</select>

	<select id="getServiceIdToSupportConditions" resultType="RecommendedServiceDTO">

		select sl.SERVICE_ID, sl.SERVICE_FIELD from support_conditions as sc
		join service_list as sl on sc.SERVICE_ID = sl.SERVICE_ID  
		where
			sc.SERVICE_NAME is not null
		<if test='age != -1'>
			<![CDATA[
			 and ((sc.AGE_START<=#{age} and sc.AGE_END>=#{age}) or (sc.AGE_START is NULL and sc.AGE_END is NULL))
			]]>
		</if>
		<if test='gender != ""'>
			<if test='gender == "male"'>
				and (sc.MALE='y' 
			</if>
			<if test='gender == "female"'>
				and (sc.FEMALE='y'
			</if>
			or (sc.MALE is NULL and sc.FEMALE is NULL))
		</if>
		<if test='income != ""'>
			<if test='income == "income_0_50"'>
				and (sc.INCOME_0_50='y'
			</if>
			<if test='income == "income_51_75"'>
				and (sc.INCOME_51_75='y'
			</if>
			<if test='income == "income_76_100"'>
				and (sc.INCOME_76_100='y'
			</if>
			<if test='income == "income_101_200"'>
				and (sc.INCOME_101_200='y'
			</if>
			<if test='income == "incomeOver_200"'>
				and (sc.INCOME_OVER_200='y'
			</if>
		 	or (sc.INCOME_0_50 is NULL and sc.INCOME_51_75 is NULL and sc.INCOME_76_100 is NULL and sc.INCOME_101_200 is NULL and sc.INCOME_OVER_200 is NULL))
		</if>
		<if test='child == ""'>
			and ((sc.NO_BABY is NULL and sc.PREGNANT is NULL and sc.BIRTH_ADOPT is NULL) or (sc.NO_BABY='y' and sc.PREGNANT='y' and sc.BIRTH_ADOPT='y'))
		</if>
		<if test='child != ""'>
			<if test='child == "noBaby"'>
				and (sc.NO_BABY='y'
			</if>
			<if test='child == "pregnant"'>
				and (sc.PREGNANT='y'
			</if>
			<if test='child == "birthAdopt"'>
				and (sc.BIRTH_ADOPT='y'
			</if>
			or (sc.NO_BABY is NULL and sc.PREGNANT is NULL and sc.BIRTH_ADOPT is NULL))
		</if>
		<if test='job == ""'>
			and ((sc.FARM_WORKER is NULL and sc.FISH_WORKER is NULL 
			and sc.LIVESTOCK_WORKER is NULL and sc.FOREST_WORKER is NULL 
			and sc.ELEMENTARY is NULL and sc.MI_STDNT is NULL and sc.HI_STDNT is NULL 
			and sc.GR_STDNT is NULL and sc.NOT_APLCB is NULL and sc.WORKER is NULL 
			and sc.NON_WORKER is NULL) or (sc.FARM_WORKER='y' and sc.FISH_WORKER='y' 
			and sc.LIVESTOCK_WORKER='y' and sc.FOREST_WORKER='y' and sc.ELEMENTARY='y' 
			and sc.MI_STDNT='y' and sc.HI_STDNT='y' and sc.GR_STDNT='y' 
			and sc.NOT_APLCB='y' and sc.WORKER='y' and sc.NON_WORKER='y'))
		</if>
		<if test='job != ""'>
			<if test='job == "farmWorker"'>
				and (sc.FARM_WORKER='y'
			</if>
			<if test='job == "fishWorker"'>
				and (sc.FISH_WORKER='y'
			</if>
			<if test='job == "livestockWorker"'>
				and (sc.LIVESTOCK_WORKER='y'
			</if>
			<if test='job == "forestWorker"'>
				and (sc.FOREST_WORKER='y'
			</if>
			<if test='job == "elementary"'>
				and (sc.ELEMENTARY='y'
			</if>
			<if test='job == "miStdnt"'>
				and (sc.MI_STDNT='y'
			</if>
			<if test='job == "hiStdnt"'>
				and (sc.HI_STDNT='y'
			</if>
			<if test='job == "grStdnt"'>
				and (sc.GR_STDNT='y'
			</if>
			<if test='job == "notAplcb"'>
				and (sc.NOT_APLCB='y'
			</if>
			<if test='job == "worker"'>
				and (sc.WORKER='y'
			</if>
			<if test='job == "nonWorker"'>
				and (sc.NON_WORKER='y'
			</if>
				or (sc.FARM_WORKER is NULL and sc.FISH_WORKER is NULL 
				and sc.LIVESTOCK_WORKER is NULL and sc.FOREST_WORKER is NULL 
				and sc.ELEMENTARY is NULL and sc.MI_STDNT is NULL and sc.HI_STDNT is NULL 
				and sc.GR_STDNT is NULL and sc.NOT_APLCB is NULL and sc.WORKER is NULL 
				and sc.NON_WORKER is NULL))
		</if>
		<if test='fmlyType == ""'>
			and ((sc.MLTCL_FMLY is NULL and sc.NORTH_DFT is NULL 
			and sc.SP_GC_FMLY is NULL and sc.SNG_FMLY is NULL 
			and sc.NONE_APPLY is NULL and sc.MLT_CHLD is NULL and sc.HOMELESS is NULL 
			and sc.NEW_TRNSF is NULL and sc.EX_FMLY is NULL) or (sc.MLTCL_FMLY='y' and sc.NORTH_DFT='y' 
			and sc.SP_GC_FMLY='y' and sc.SNG_FMLY='y' and sc.NONE_APPLY='y' 
			and sc.MLT_CHLD='y' and sc.HOMELESS='y' and sc.NEW_TRNSF='y' 
			and sc.EX_FMLY='y'))
		</if>
		<if test='fmlyType != ""'>
			<if test='fmlyType == "mltclFmly"'>
				and (sc.MLTCL_FMLY='y' 
			</if>
			<if test='fmlyType == "northDft"'>
				and (sc.NORTH_DFT='y' 
			</if>
			<if test='fmlyType == "spGcFmly"'>
				and (sc.SP_GC_FMLY='y' 
			</if>
			<if test='fmlyType == "sngFmly"'>
				and (sc.SNG_FMLY='y' 
			</if>
			<if test='fmlyType == "noneApply"'>
				and (sc.NONE_APPLY='y' 
			</if>
			<if test='fmlyType == "mltChld"'>
				and (sc.MLT_CHLD='y' 
			</if>
			<if test='fmlyType == "homeless"'>
				and (sc.HOMELESS='y' 
			</if>
			<if test='fmlyType == "newTrnsf"'>
				and (sc.NEW_TRNSF='y' 
			</if>
			<if test='fmlyType == "exFmly"'>
				and (sc.EX_FMLY='y' 
			</if>
				or (sc.MLTCL_FMLY is NULL and sc.NORTH_DFT is NULL 
				and sc.SP_GC_FMLY is NULL and sc.SNG_FMLY is NULL 
				and sc.NONE_APPLY is NULL and sc.MLT_CHLD is NULL and sc.HOMELESS is NULL 
				and sc.NEW_TRNSF is NULL and sc.EX_FMLY is NULL))
		</if>
		<if test='bsnsType == ""'>
			and ((sc.SOON_BSNS is NULL and sc.IN_BSNS is NULL 
			and sc.NON_BSNS is NULL and sc.FOOD_BSNS is NULL 
			and sc.MNF_BSNS is NULL and sc.ETC_BSNS is NULL) or (sc.SOON_BSNS='y' and sc.IN_BSNS='y' 
			and sc.NON_BSNS='y' and sc.FOOD_BSNS='y' and sc.MNF_BSNS='y' 
			and sc.ETC_BSNS='y'))
		</if>
		<if test='bsnsType != ""'>
			<if test='bsnsType == "soonBsns"'>
				and (sc.SOON_BSNS='y' 
			</if>
			<if test='bsnsType == "inBsns"'>
				and (sc.IN_BSNS='y' 
			</if>
			<if test='bsnsType == "nonBsns"'>
				and (sc.NON_BSNS='y' 
			</if>
			<if test='bsnsType == "foodBsns"'>
				and (sc.FOOD_BSNS='y' 
			</if>
			<if test='bsnsType == "mnfBsns"'>
				and (sc.MNF_BSNS='y' 
			</if>
			<if test='bsnsType == "etcBsns"'>
				and (sc.ETC_BSNS='y' 
			</if>
				or (sc.SOON_BSNS is NULL and sc.IN_BSNS is NULL 
				and sc.NON_BSNS is NULL and sc.FOOD_BSNS is NULL 
				and sc.MNF_BSNS is NULL and sc.ETC_BSNS is NULL))
		</if>
		<if test='copType == ""'>
			and ((sc.SMALL_COP is NULL and sc.SOCIAL_COP is NULL 
			and sc.FACILITY is NULL and sc.MNF_COP is NULL 
			and sc.FFF_COP is NULL and sc.ICT_COP is NULL
			and sc.ETC_COP is NULL) or (sc.SMALL_COP='y' and sc.SOCIAL_COP='y' 
			and sc.FACILITY='y' and sc.MNF_COP='y' and sc.FFF_COP='y' 
			and sc.ICT_COP='y' and sc.ETC_COP='y'))
		</if>
		<if test='copType != ""'>
			<if test='copType == "smallCop"'>
				and (sc.SMALL_COP='y'
			</if>
			<if test='copType == "socialCop"'>
				and (sc.SOCIAL_COP='y'
			</if>
			<if test='copType == "facility"'>
				and (sc.FACILITY='y'
			</if>
			<if test='copType == "mnfCop"'>
				and (sc.MNF_COP='y'
			</if>
			<if test='copType == "fffCop"'>
				and (sc.FFF_COP='y'
			</if>
			<if test='copType == "ictCop"'>
				and (sc.ICT_COP='y'
			</if>
			<if test='copType == "etcCop"'>
				and (sc.ETC_COP='y'
			</if>
				or (sc.SMALL_COP is NULL and sc.SOCIAL_COP is NULL 
				and sc.FACILITY is NULL and sc.MNF_COP is NULL 
				and sc.FFF_COP is NULL and sc.ICT_COP is NULL
				and sc.ETC_COP is NULL))
		</if>
		<if test='handicap != ""'>
			<if test='handicap == "disabledPerson"'>
				and (sc.DISABLED_PERSON='y'
			</if>
			<if test='handicap == "nationslVeterans"'>
				and (sc.NATIONAL_VETERANS='y'
			</if>
			<if test='handicap == "sickPerson"'>
				and (sc.SICK_PERSON='y'
			</if>
				or (sc.DISABLED_PERSON is NULL and sc.NATIONAL_VETERANS is NULL 
				and sc.SICK_PERSON is NULL))
		</if>
	</select>


	<select id="getServiceVOToServiceId" resultType="ServiceVO">
		select * from service_list
		where service_id = #{serviceId}
	</select>
	
	<update id="updateUserCondition" parameterType="UserConditionsVO">
		update user_condition 
		set gender = #{gender}, age = #{age}, income = #{income}, child = #{child}, 
			job = #{job}, fmly_type = #{fmlyType}, bsns_type = #{bsnsType}, cop_type = #{copType}, handicap = #{handicap}
		where user_id = #{userId}
	</update>
	

</mapper>