<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.chajajo.mapper.ServiceMapper">

	<select id="read" resultType="ServiceVO">
		select service_name from
		service_list
		where service_id = #{no}
	</select>

	<!-- 게시물 목록 (페이징) -->
	<select id="getListWithPaging" resultType="ServiceVO">
		select service_name,
		service_summary, apply_date from service_list
		<if test="keyword != null">
			where service_name like concat('%', #{keyword}, '%') or
			service_summary like concat('%', #{keyword}, '%')
		</if>
		limit #{offset},
		#{amount}
	</select>


	<select id="getTotal" resultType="int">
		select count(*) from service_list
		<if test="keyword != null">
			where service_name like concat('%', #{keyword}, '%') or
			service_summary like concat('%', #{keyword}, '%')
		</if>
	</select>
</mapper>