@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}


/* content 랩 */
.wrap{
	width : 800px;
	margin: auto;
}
/* 페이지 제목 */
.subjecet{
	width: 100%;
    height: 120px;
    background-color: #8EC0E4;
}
.subjecet span{
	margin-left: 31px;
    font-size: 80px;
    font-weight: 900;
    color: white;
}

/* 아이디 영역 */
.id_wrap{
	width: 100%;
    margin-top: 20px;
}
.id_name{
	font-size: 25px;
    font-weight: bold;
}
.id_input_box{
	border: 1px solid black;
	height:51px;
	padding: 10px 14px;	
	border-radius: 20px;
	border : none;
	background-color: #e7e7e7;
	
}
.id_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
	background-color: #e7e7e7;
}

/* 비밀번호 영역 */
.pw_wrap{
	width: 100%;
    margin-top: 20px;
}
.pw_name{
	font-size: 25px;
    font-weight: bold;
}
.pw_input_box{
	border: 1px solid black;
	height:51px;
	padding: 10px 14px;	
	border-radius: 20px;
	border : none;
	background-color: #e7e7e7;
	
}
.pw_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
	background-color: #e7e7e7;
}

/* 비밀번호 확인 영역 */
.pwck_wrap{
	width: 100%;
    margin-top: 20px;
}
.pwck_name{
	font-size: 25px;
    font-weight: bold;
}
.pwck_input_box{
	border: 1px solid black;
	height:51px;
	padding: 10px 14px;	
	border-radius: 20px;
	border : none;
	background-color: #e7e7e7;
	
}
.pwck_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
	background-color: #e7e7e7;
}

/* 성별 영역 */
.gender_wrap{
	width: 100%;
    margin-top: 20px;
}
.gender_name{
	font-size: 25px;
    font-weight: bold;
}
/* .gender_input_box{
	border: 1px solid black;
	height:51px;
	padding: 10px 14px;	
	border-radius: 20px;
	border : none;
	background-color: #e7e7e7;
	
}
.gender_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
	background-color: #e7e7e7;
} */

.gender_input_box {
    padding: 15px 10px;
}
.gender_input_box input[type=radio]{
    display: none;
}
.gender_input_box input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    width: 90px;
    border: 1px solid #333;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:22px;   
	height:51px;
	padding: 10px 14px;	
	border-radius: 20px;


}
.gender_input_box input[type=radio]+label{
    background-color: #fff;
    color: #333;
}
.gender_input_box input[type=radio]:checked+label{
    background-color: #333;
    color: #fff;
}



/* 생년월일 영역 */
 .birth_wrap{
	width: 100%;
    margin-top: 20px;
}
.birth_name{
	font-size: 25px;
    font-weight: bold;
}
.birth_input_box{
	border: 1px solid black;
	height:51px;
	padding: 10px 14px;	
	border-radius: 20px;
	border : none;
	background-color: #e7e7e7;
	
}
.birth_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
	background-color: #e7e7e7;
} 

/* 메일 영역 */
.mail_wrap{
	width: 100%;
    margin-top: 20px;
}
.mail_name{
	font-size: 25px;
    font-weight: bold;
}
.mail_input_box{
	border: 1px solid black;
	height:51px;
	padding: 10px 14px;	
	border-radius: 20px;
	border : none;
	background-color: #e7e7e7;
	
}
.mail_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
	background-color: #e7e7e7;
}

/* 전화번호 영역 */
.phone_wrap{
	width: 100%;
    margin-top: 20px;
}
.phone_name{
	font-size: 25px;
    font-weight: bold;
}
.phone_input_box{
	border: 1px solid black;
	height:51px;
	padding: 10px 14px;	
	border-radius: 20px;
	border : none;
	background-color: #e7e7e7;
	
}
.phone_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
	background-color: #e7e7e7;
}



/* 가입하기 버튼 */
.join_button_wrap{
	margin-top: 40px;
	text-align: center;
}
.join_button{
	width: 70%;
    height: 80px;
    background-color: #6AAFE6;
    font-size: 40px;
    font-weight: 900;
    color: white;
    border-radius: 40px;
	border: none;
}
.join_button :hover{

}



/* 유효성 검사 문구 */
 
.final_id_ck{
    display: none;
}
.final_pw_ck{
    display: none;
}
.final_pwck_ck{
    display: none;
}

.final_mail_ck{
    display: none;
}
.final_phone_ck{
    display: none;
}


 
/* 비밀번호 확인 일치 유효성검사 */
.pwck_input_re_1{
        color : green;
        display : none;    
}
.pwck_input_re_2{
        color : red;
        display : none;    
}  



/* float 속성 해제 */
.clearfix{
	clear: both;
}

/* 중복아이디 존재하지 않는경우 */
	.id_input_re_1{
		color : green;
		display : none;
	}
	/* 중복아이디 존재하는 경우 */
	.id_input_re_2{
		color : red;
		display : none;
	}
	
	/* 중복메일 존재하지 않는경우 */
	.email_input_re_1{
		color : green;
		display : none;
	}
	/* 중복메일 존재하는 경우 */
	.email_input_re_2{
		color : red;
		display : none;
	}
	
